<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/logo.png" type="image/gif" sizes="16x16">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    
    <title><%= title%></title>
</head>
<body>
    <nav class="navbar">
        <div class="name">
            <a href="/">
                <img src="img/logo.png" alt="" width="50px">
                <p>JSR Bank</p>
            </a>
        </div>
        <div class="nav-item">
            <ul>
                <li><a href="/customer">View Customer</a></li>
                <li><a href="/transaction">Transaction History</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>
    </nav>