<%- include("../partials/header")%>


    <div class="about">
      <h1>About US</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
        quidem obcaecati accusamus sequi eveniet rerum repudiandae praesentium
        ex quisquam iure ducimus, doloribus, nostrum numquam nulla, eum
        reprehenderit architecto tenetur maxime. Odio aliquam architecto error,
        repellendus explicabo iure reiciendis commodi, provident, eius aperiam
        dolores nihil dicta modi nulla officiis tempore. Autem aliquam accusamus
        voluptas repellat reprehenderit laboriosam, a, excepturi eveniet,
        impedit consequatur delectus voluptatem est sequi alias omnis eligendi.
        Consequuntur, sed eius vero sint non suscipit dolorem, quae aperiam
        ipsum, nemo culpa.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
        quidem obcaecati accusamus sequi eveniet rerum repudiandae praesentium
        ex quisquam iure ducimus, doloribus, nostrum numquam nulla, eum
        reprehenderit architecto tenetur maxime. Odio aliquam architecto error,
        repellendus explicabo iure reiciendis commodi, provident, eius aperiam
        dolores nihil dicta modi nulla officiis tempore. Autem aliquam accusamus
        voluptas repellat reprehenderit laboriosam, a, excepturi eveniet,
        impedit consequatur delectus voluptatem est sequi alias omnis eligendi.
        Consequuntur, sed eius vero sint non suscipit dolorem, quae aperiam
        ipsum, nemo culpa.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
        quidem obcaecati accusamus sequi eveniet rerum repudiandae praesentium
        ex quisquam iure ducimus, doloribus, nostrum numquam nulla, eum
        reprehenderit architecto tenetur maxime. Odio aliquam architecto error,
        repellendus explicabo iure reiciendis commodi, provident, eius aperiam
        dolores nihil dicta modi nulla officiis tempore. Autem aliquam accusamus
        voluptas 
      </p>
    </div>
  </body>
</html>
