<%- include("../partials/header")%>


    <main class="main">
        <div class="main-content">
            <h1>JSR Bank</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam iure assumenda quibusdam esse, repellat corporis voluptatem, qui error magni, harum tempora pariatur minus labore quisquam at? consectetur adipisicing elit.</p>
            <a class="btn" href="/customer">View Customer</a>

        </div>
        <div class="main-img">
            <img src="img/bk6.png" alt="" width="880px">
        </div>
    </main>

</body>
</html>